#pagination {
    margin-top: 50px;
}
.pop-up__withdraw__btn {
    align-items: center;
    background: #6d61f2;
    border-radius: 12px;
    height: 64px;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 23px;
    display: inline-block;
    max-width: 100%;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.ui-dialog {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10000; /* Modify z-index if required */
}

.ui-dialog-titlebar {
    background: #007bff;
    color: #fff;
    border: none;
}

.ui-dialog-title {
    font-size: 18px;
    line-height: 1.6;
}

.ui-dialog-buttonpane {
    background: #f7f7f7;
}

.ui-dialog .ui-dialog-buttonpane .ui-button {
    color: #007bff;
    border: none;
    background: #fff;
    margin: .5em .5em .5em 0;
    cursor: pointer;
}